* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html  {
	scroll-behavior: smooth;
}

a {
	text-decoration : none;
}

body {
		background-color : #253627;
	 height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Menu mobile */
@media screen and (max-width: 900px) {
		
		.intro a {
			text-align : center;
		}
		
		.intro {
			flex-direction : column;
		}
		
		
		.intro img {
		padding-bottom : 10px;
		margin : 5% 5% 5% 10%;
		width : 100%;

}
}


footer {
		margin : auto;
  /*border-top : 1px solid red;*/
		border-bottom : 1px solid rgba(228,228,288,0.3);
		margin-top : 10px;
		padding-bottom : 20px;

    width: 95%;
    background-color: #253627;
    color: white;
    margin-bottom : 140px;
}



footer a {
	color : rgba(255,255,255,0.6);
	transition-duration : 1s;
		&:hover {
			opacity : 1;
			color : #ffeebb;
		}
	
}

footer .titrenav {
	font-size : 2.5em;
	padding-top : 173px;
	text-align : center;
}


footer h3 {
	font-weight : 300;
	font-size : 2em;
	padding-bottom : 20px;
	padding-top :30px;
	color : #ffc463;
}

.liens2 {
	display : flex;
	flex-direction : column;
}


footer .liens2 a {
	padding : 5px 0px 5px 0px;
	font-size : 1.2em;
	
}

footer nav .ensemblefoot {
	text-align : center;
}

.intro {
	margin : auto;
	font-family: 'Montserrat', sans-serif;
	font-weight : bold;
	font-size: 18px;
	border-top: 1px solid rgba(228,228,288,0.3);
	border-bottom : 1px solid rgba(228,228,288,0.3);
	display : flex;
	width : 80%;
	color : rgba(255,255,255,0.8);
	justify-content : center ;
	align-items : center;
}

.contenu {
	padding-top : 30px;
	display : flex;
	flex-direction : column;
}

.intro-titre {
	    font-weight: 400;
			font-size : 36px;
	    font-family: 'Cormorant', sans-serif;
	    color :#e1b15d ;
}

.intro p {
	line-height: 24px;
}

.intro a {
	margin : auto;
	text-align : center;
	width : 30%;
	padding : 10px;
	color : white ;
	background-color : rgba(255,255,255,0.2);
	transition-duration : 0.7s;
	&:hover {
		background-color : #253627;
		color: #e1b15d;
		cursor : pointer;
	}
}

.star {
	padding-bottom : 80px;
	text-align : center;
	color : #fff;
}

.troll {
	margin : auto;
	width : 80%;
	text-align : center;
	margin-bottom : 50px;
}

.troll a {
	color : black;
	font-weight : bold;
	font-family: 'Cormorant', serif;
	font-family: 'Oswald', sans-serif;
	cursor : pointer;
	border-radius : 10px;
	padding : 5px 10px 5px 10px;
	background-color : #ffc465;
	text-align : center;
	transition-duration : 1s;
	&:hover {
		background-color : #ffeebb;
		transform : scaleX(0.8);

	}
}

.espace {
	height : 50px;
}

.margin30 {
	height : 30px;
}

@media screen and (min-width: 900px) {
		
		footer nav .titrenav {
			padding-top : 0;
			margin-right : 200px;
		}
		
		.ressource {
			margin: 0 150px 0 150px;
		}
		
		.ensemblefoot {
			display : flex;
		}
		
		footer nav {
			display : flex;
		}
	
		.intro .intro-titre {
			font-size :4em;
		}
		
		.nav1 .liens {
			font-size : 1.5em;
			flex-direction : row;
		}
	
    .intro img {
    	padding-bottom : 10px;
			margin : 5% 5% 5% 10%;
      width: 50%;
    }
    
    .intro a {
    	margin-bottom : 50px;
    }
    
    .perroquet {
    	margin-left : 40px;
    }
}

.milieu {
	display : none;
	margin : 200px 0 0 0;
	width : 100%;
	overflow : hidden;
}

.slider-btn {
	position : relative;
	margin : 0 auto;
}

.slider {
	position : relative;
	display : flex;
	aspect-ratio : 16/9;
	overflow : auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow : 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
	overflow : hidden;

}

.slider img {
	flex : 1 0 100%;
	scroll-snap-align : start;
	object-fit : cover;
}


.btn {
	display : flex;
	column-gap : 1rem;
	position : absolute;
	bottom : 1.25rem;
	left : 50%;
	transform : translate(-50%);
	z-index : 1;
}

.btn a{
	width : 0.75rem;
	height : 0.75rem;
	border-radius : 50%;
	background-color : rgba(255,255,255,0.6);
	transition-duration: 400ms;
	&:hover {
		background-color : rgba(255,255,255,1)
	}
}

@media screen and (max-width : 900px) {
	.btn a {
		padding : 10px;
		width : 1em;
		height : 1em;
	}
	
	.btn {
		column-gap : 2rem;
	}
	
}

@media screen and (min-width : 900px) {
	.milieu {
		margin-bottom : 100px;
		display : block;
	}
	
	.contenu-blog {
		margin-top : 30px;
	}
	
}
.parallax-container {
  position: relative;
  overflow: hidden;
  max-width: 400px; 
  margin: 0 auto;
}

.item-svg img {
	cursor : pointer;
	width : 50px;
	position : absolute;
	top : 8%;
	left : 5%;
	transition : 1s ease-in-out;
	&:hover {
		transform : scale(1.2)
	}
}

.item-svg h1 {
	position : absolute;
	top : 10%;
	left : 20%;
	color : #fff;
	font-family : 'Cormorant',sans-serif;
}

.item-svg h1::after {
	content : '';
	position : absolute;
	background-color : #ede2bc;
	bottom : 3px;
	left : 0;
	width : 100%;
	height : 0.08rem;
	transform-origin : bottom center;
	transform : scale(0,1);
	transition : 0.5s ease-in-out;
					
}

.item-svg h1:hover::after {
	opacity : 1;
	transform : scale(1,1);
}

.parallax-image {
	border-radius : 5px;
	margin : 30px 0 0 0;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.70);
  width: 100%;
  height: auto;
}

.parallax-text {
	width :80%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  border-radius: 10px; 
}

.parallax-text h2 {
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 36px;
  font-weight: 100;
  padding-bottom: 20px;
}

.parallax-text p {
	text-align: start;
	color: rgba(255,255,255,0.95);
}

.parallax-image img {
  max-width: 100%;
  height: 600px;
}

.parallax-text a {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	letter-spacing : 1px;
	padding: 10px;
	background-color : rgba(255,255,255,0.6);
	color : black;
	transition-duration : 1s;
	&:hover {
		background-color: rgba(255,255,255,1);
		cursor : pointer;
	}
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.contenu-blog {
	background-color : #e4e4e4ff;
	padding-bottom: 50px;
}

.blog-infos {
	text-align : center;
	display : flex;
	flex-direction : column;
	font-family: 'Montserrat', sans-serif;
}

.blog-infos h2{
	font-family: 'Cormorant', serif; 
	font-size : 50px; 
	font-weight :100;
}

.blog-infos p {
	font-size : 1.5rem;
	font-family : 'cormorant' , sans-serif;
	margin: 30px 50px 0 50px;
	opacity : 0.7;
}

.blog-infos a {
	cursor : pointer;
	position :relative;
	letter-spacing : 1px;
	margin-left : 20px;
	opacity : 0.6;
	transition-duration : 0.6s;	
	}
	
	.blog-infos a::after{
		content : '';
		position : absolute;
		transform-origin : bottom right;
		width : 100%;
		height : 0.080rem;
		bottom : 0;
		left : 0;
		background-color : black;
		transition:transform 0.5s ease-in-out;
		transform : scale(0,1);
	}
	.blog-infos a:hover::after {
		opacity : 1;
		transform: scale(1,1);
		transform-origin : bottom left;
	}
	
.all-destinations{
	display : flex;
	justify-content : center;
	margin-top : 50px;
}

.all-destinations a {
	font-size : 1.5rem;
	position :relative;
	padding : 15px;
	color : #fff;
	background-color : #59685b;
	cursor : pointer;
	}

.all-destinations a::after {
		content : 'Toutes les destinations';
		position : absolute;
		display : flex;
		justify-content : center;
		align-items : center;
		top: 0;
		left: 0;
		background-color : #253627;
		color : #ffc463;
		opacity : 0;
		width : 100%;
		height : 100%;
		transition : opacity 0.3s ease-in-out;
	}
	
.all-destinations a:hover::after {
		opacity : 1;
	}
	


.invisible {
	display : none;
}

.bresil.invisible {
	display : none;
}
.antilles.invisible {
	display : none;
}
.venise.invisible {
	display :none;
}

.display {
	display : block;
}


.bresil.display {
	display : block;
}
.antilles.display {
	display : block;
}
.venise.display {
	display :block;
}

.carnaval-home {
	margin : 60px 0 100px 0;
}

.carnaval-home h2{
	font-family : 'Cormorant' , sans-serif;
	font-size : 3rem;
	color: white;
	text-align : center;
	font-weight : 400;
}


#item1 {
	background-image : url('item1.jpg');
}

#item2 {
	background-image : url('item2.jpg');
}

#item3 {
	background-image : url('item4.jpg');
}

#item4 {
	background-image : url('item3.jpg');
}



@media screen and (max-width : 900px){
	.carnaval-items {
	display : flex;
	flex-direction :column;
	align-items : center;
	height : 1200px;
	gap : 50px;
}

.item{
	cursor : pointer;
	border-radius : 20px;
	background-position : 55% 50%;
	width : 50%;
	height : 60%;
	height : 500px;
	background-size: cover;
	transition : 1s ease-in-out;
	&:hover {
		width: 80%;
		height : 100%;
	}
}
}

@media screen and (min-width : 900px){
	.carnaval-items {
	display : flex;
	justify-content : center;
	height : 600px;
	gap : 25px;
}

.item{
	cursor : pointer;
	border-radius : 20px;
	background-position : 55% 50%;
	width : 10%;
	height : 500px;
	background-size: cover;
	transition : 1s ease-in-out;
	&:hover {
		width: 30%;
	}
}

}

.item h2{
	font-family : 'cormorant', sans-serif;
	font-size : 2rem;
	font-weight : 200;
	color : #fff;
	padding-top : 30px;
	text-align : center;
}

.pages-img {
	width : 100%;
	max-height : 20%;
}

.img1 {
	filter: brightness(90%);
	background-image : url('card1.jpg');
	width : 100%;
	height : 820px;
	background-position : center;
	background-size: cover;
	text-align : center;
	color : #fff;
	margin-bottom: 100px;
	box-shadow: 0 5px 30px black ;
}

.img1 h1 {
	padding-top : 250px;
	font-family : 'cormorant', sans-serif;
	font-size : 3rem;
	font-weight : 400;
	 text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.img1 p {
	padding-top : 100px;
	font-size : 2rem;
	 text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

/* ////////////////////////////////////////// */

.pages-ensemble {
	color : #fff;
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align: center;
	width : 90%;
	margin : auto;
	border-right : 1px solid rgba(255,255,255,0.6);
	border-bottom : 1px solid rgba(255,255,255,0.6);
	padding: 0px 15px 15px 0;
}

.pages-titre {
	font-size : 2em;
	letter-spacing : 1px;
}

.pages-p {
	text-align : start;
	opacity : 0.9;
	font-size : 1.2rem;
}

/*/////////////////////////////////////// */

.pages-ensemble2 {
	color : #fff;
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align: center;
	width : 90%;
	margin : auto;
	border-top : 1px solid rgba(255,255,255,0.6);
	border-bottom : 1px solid rgba(255,255,255,0.6);
	padding: 15px 15px 15px 0;
}

.pages-titre2 {
	font-size : 2em;
	letter-spacing : 1px;
}

.pages-p2 {
	text-align : start;
	opacity : 0.9;
	font-size : 1.2rem;
}

/*//////////////////////////////////////////*/


.pages-ensemble3 {
	color : #fff;
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align: center;
	width : 90%;
	margin : auto;
	border-left : 1px solid rgba(255,255,255,0.6);
	border-bottom : 1px solid rgba(255,255,255,0.6);
	padding: 0px 0px 15px 15px;
}

.pages-titre3 {
	font-size : 2em;
	letter-spacing : 1px;
}

.pages-p3 {
	text-align : start;
	opacity : 0.9;
	font-size : 1.2rem;
}

/*//////////////////////////////////////////*/

.contact-grid {
	margin : 100px 0 200px 0;
	display : grid;
	grid-template-columns : repeat(auto-fill, minmax(400px , 1fr));
	gap : 50px;
}

.contact-container {
	display : flex;
	flex-direction : column;
	align-items : center;
	color : #ffc465;
}

.contact-nom {
	font-weight : 200;
	margin-bottom : 10px;
	margin-top : 20px;
	letter-spacing : 2px;
	font-size : 1.5rem;
	font-family: 'Roboto Slab', serif;
}

.contact-role {
	font-size : 14px;
	letter-spacing :1px;
	font-family : 'Cormorant', sans-serif;
	font-weight : 100;
}

.contact-img img {
	width : 400px;
}

.contact-svg img {
	padding-top : 10px;
	cursor : pointer;
	width : 40px;
	transition : 0.8s ease-in-out;
	&:hover {
		transform : scale(1.4);
	}
}

@media screen and (min-width : 1750px) {
	.contact-grid {
	grid-template-columns : 1fr 1fr 1fr;
	
}
}

.sujets-grid {
	margin : 80px 15px 100px 0;
	display : grid;
	grid-template-columns : repeat(auto-fill , minmax(400px , 1fr));
	width : 100%;
	height : 50%px;
	gap : 15px;
}

.sujets-container {
	border-radius: 10px;
	background-size :cover;
	background-image : url("costume1.jpg");
	width: 100%;
	height : 300px;
}


.style-container {
	padding-left : 50px;
	padding-bottom : 100px;
	display : flex;
	flex-direction : column;
	color :black ;
	width : 100%;
	height : 700px;
	background-color :  #e4e4e4; 
}

.style-titre {
	font-family : 'Cormorant', sans-serif;
	margin-top : 20px;
}

.style-police h1{
	font-weight : 400;
	font-size : 2.6rem;
}

.style-police h2 {
	padding : 10px 0 10px 0;
	font-size : 2.5rem;
	font-family : 'Cormorant' , sans-serif;
}

.style-item {
	border : 1px solid black;
	width : 50%;
	height : 50px;
	}
	
.color-titre {
	font-size : 2em;
}


.licences .licences-container {
	margin : 60px 0 100px 0 ;
	display : flex;
	justify-content : center;
	gap : 30px;
}

.licences h1 {
	font-size : 3em;
	margin-left : 50px;
	color : #fff;
	font-family : 'Cormorant',sans-serif;
	font-weight : 300;
}

.licences img{
	max-width : 400px;
	height : 400px;
	}
